<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true" internalLogLevel="Off" internalLogFile="${basedir}/Logs/NLog.Internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<default-target-parameters xsi:type="File" keepFileOpen="true" encoding="UTF-8"
								   layout="${longdate} [${callsite}:${callsite-linenumber}] ${level}: ${message} ${exception}"
								   maxArchiveFiles="30" archiveEvery="Day" archiveAboveSize="104857600"
								   enableArchiveFileCompression="true" concurrentWrites="false"
								   autoFlush="false" openFileFlushTimeout="5" openFileCacheTimeout="30" />
		<default-target-parameters xsi:type="Console" layout="${longdate} [${callsite}:${callsite-linenumber}] ${level}: ${message} ${exception}" />

		<target name="CameraFileLogger" xsi:type="File" fileName="${basedir}/Logs/Configurator.Camera.${shortdate}.log" />
		<target name="DefaultFileLogger" xsi:type="File" fileName="${basedir}/Logs/Configurator.${shortdate}.log" />
		<target name="DebugLogger" xsi:type="Debugger" layout="${level}: ${message} ${exception}" />
		<target name="ConsoleLogger" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="CameraLogger" minlevel="Trace" writeTo="CameraFileLogger" />

		<logger name="*" minlevel="Trace" writeTo="DefaultFileLogger" />
		<logger name="*" minlevel="Trace" writeTo="DebugLogger" />
		<logger name="*" minlevel="Trace" writeTo="ConsoleLogger" />
	</rules>
</nlog>
